# App
APP_NAME=Certificate Generator System
APP_ENV=development

# Local SQLite database
DATABASE_URL=sqlite:///./storage/database/certificates.db

# Storage folders
UPLOAD_DIR=storage/uploads
GENERATED_DIR=storage/generated
TEMPLATE_DIR=app/templates

# Certificate templates
CERTIFICATE_TEMPLATE_PATH=storage/templates/certificate_template.pptx
CERTIFICATE_WORD_TEMPLATE_PATH=storage/templates/cfd_certificate_template.doc
CERTIFICATE_DOCX_TEMPLATE_PATH=storage/templates/cfd_certificate_template.docx

# JWT
JWT_SECRET_KEY=change-this-to-a-long-random-secret
JWT_EXPIRE_MINUTES=480
